<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Zarejestrowane aplikacje</title>

        <script th:replace="fragments/header :: header-css"></script>
        <script th:replace="developer/fragments/appKeyInfo :: app-key-info-header"></script>
        <script th:replace="developer/fragments/modalCreate :: modal-create-header"></script>
        <script th:replace="developer/fragments/modalDelete :: modal-delete-header"></script>
        <script th:replace="developer/fragments/modalInfo :: modal-info-header"></script>
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{/developer/css/main.css}"/>
        <script th:src="@{developer/js/main.js}" defer="defer"></script>
    </head>

    <body>
        <div th:replace="fragments/header :: header"></div>
        <!-- Komunikaty -->
        <div th:if="${param.appAdded}">
            <div th:replace="fragments/message :: message(type=${ T(net.wojteksz128.authservice.MessageType).INFO }, title='Sukces!', message='Nowa aplikacja została dodana.', addFragmentFile='developer/fragments/appKeyInfo', addFragmentName='app-key-info')"></div>
        </div>
        <div th:if="${param.error}">
            <div th:replace="fragments/message :: message(${ T(net.wojteksz128.authservice.MessageType).ERROR }, 'Błąd!', 'Akcja nie powiodła się.')"></div>
        </div>

        <div class="container">
            <h1>Zarejestrowane aplikacje</h1>
            <!-- Tabela -->
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nazwa aplikacji</th>
                        <th>Klucz aplikacji</th>
                        <th>Data rejestracji</th>
                    </tr>
                </thead>
                <tbody th:each="app : ${apps}">
                    <tr th:onclick="'javascript:openAppInfoModal(\'' + ${app.guid} + '\');'">
                        <td th:text="${app.name}">Test</td>
                        <td th:text="${app.guid}">53333235-e4b4-4807-ad4a-5db00b0a9671</td>
                        <td th:text="${app.description}">2017-12-24 00:00:00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <button class="btn btn-primary btn-new" data-href="http://localhost/#" data-toggle="modal"
                                    data-target="#modal-create">
                                <span class="glyphicon glyphicon-plus"></span> Dodaj nową aplikację
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div th:replace="fragments/header :: footer"></div>

        <!-- Okna modalne -->
        <div id="modal-info-holder"></div>
        <div id="modal-delete-holder"></div>
        <div id="modal-create-holder"></div>

        <div th:replace="developer/fragments/modalCreate :: modal-create"></div>
        <div th:replace="developer/fragments/modalDelete :: modal-delete"></div>
        <!--<div th:replace="developer/fragments/modalInfo :: modal-info"></div>-->
    </body>

</html>