<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="app-key-info-header">
        <script th:src="@{/developer/js/appKeyInfo.js}"></script>
    </head>
    <body th:fragment="app-key-info">
        <form class="form-inline" onsubmit="return false">
            <div class="form-group">
                <label for="alert-app-key">Aplikacji nadano klucz aplikacji:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="alert-app-key" th:value="${param.appkey != null ? param.appkey[0] : ''}" readonly="readonly"/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-copy-key" data-toggle="popover">Kopiuj</button>
                    </span>
                </div>
            </div>
        </form>
    </body>
</html>