<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script th:src="@{/developer/js/modalCreate.js}"></script>
    </head>
    <body>
        <div id="modal-create" class="modal fade" tabindex="-1" role="dialog" th:fragment="modal-create">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                        <h4 class="modal-title">Dodawanie nowej aplikacji</h4>
                    </div>
                    <!--/*@thymesVar id="devApp" type="net.wojteksz128.authservice.service.clientapp.CreateClientAppDto"*/-->
                    <form th:action="@{/devApp}" method="post" th:object="${devApp}" class="form-app form-horizontal">
                        <div class="modal-body">
                            <div class="form-group form-group-sm">
                                <label for="app-client-id" class="control-label col-sm-4">Client Id:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" id="app-client-id" th:field="*{clientDetailsDto.clientId}"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="app-client-secret" class="control-label col-sm-4">Client Secret:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" id="app-client-secret" th:field="*{clientDetailsDto.clientSecret}"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="app-scope" class="control-label col-sm-4">Scope:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" id="app-scope" th:field="*{clientDetailsDto.scope}"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="app-authorized-grant-types" class="control-label col-sm-4">Authorized grant types:</label>
                                <div class="col-sm-8">
                                    <select id="app-authorized-grant-types" class="form-control input-sm" th:field="*{clientDetailsDto.authorizedGrantTypes}" multiple="multiple">
                                        <option th:value="refresh_token">refresh_token</option>
                                        <option th:value="authorization_code">authorization_code</option>
                                        <option th:value="implicit">implicit</option>
                                        <option th:value="password">password</option>
                                        <option th:value="client_credentials">client_credentials</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="app-web-server-redirect-uri" class="control-label col-sm-4">Web server redirect URI:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" id="app-web-server-redirect-uri" th:field="*{clientDetailsDto.webServerRedirectUri}"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="app-access-token-validity" class="control-label col-sm-4">Access token validity (ms):</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control input-sm" id="app-access-token-validity" th:field="*{clientDetailsDto.accessTokenValidity}"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="app-refresh-token-validity" class="control-label col-sm-4">Refresh token validity (ms):</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control input-sm" id="app-refresh-token-validity" th:field="*{clientDetailsDto.refreshTokenValidity}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox">
                                        <label><input type="checkbox" th:field="*{clientDetailsDto.autoApprove}"/> Auto approve</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="app-desc" class="control-label col-sm-4">Opis:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control input-sm" rows="5" id="app-desc" style="resize: vertical" th:field="*{description}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-ok">Zapisz</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>