<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script th:src="@{/developer/js/modalInfo.js}"></script>
    </head>
    <body>
        <div id="modal-info" class="modal fade" tabindex="-1" role="dialog" th:fragment="modal-info">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                        <h4 class="modal-title">Informacje o aplikacji</h4>
                    </div>
                    <!--/*@thymesVar id="devApp" type="net.wojteksz128.authservice.service.clientapp.ClientAppDto"*/-->
                    <form class="form-app form-horizontal" th:action="'/devApp/' + ${devApp.clientDetailsDto.clientId}" method="post" th:object="${devApp}">
                        <div class="modal-body">
                            <div th:if="${ #fields.hasGlobalErrors() }" th:each="error: ${#fields.errors('global')}">
                                <div th:replace="fragments/message :: message(${T(net.wojteksz128.authservice.service.MessageType).ERROR}, 'Błąd!', ${error})"></div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="app-reg-date" class="control-label col-sm-4">Data rejestracji:</label>
                                <!--/*@thymesVar id="formatter" type="java.time.format.DateTimeFormatter"*/-->
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="app-reg-date" readonly="readonly" th:value="${formatter.format(devApp.createDate)}"/>
                                    <input type="hidden" readonly="readonly" th:field="*{createDate}"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('clientDetailsDto.clientId')} ? 'has-error' : ''">
                                <label for="app-client-id" class="control-label col-sm-4">Client Id:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="app-client-id" readonly="readonly" th:field="*{clientDetailsDto.clientId}"/>
                                    <div th:if="${ #fields.hasErrors('clientDetailsDto.clientId') }" th:each="error: ${#fields.errors('clientDetailsDto.clientId')}">
                                        <span class="help-block" th:text="${error}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('clientDetailsDto.clientSecret')} ? 'has-error' : ''">
                                <label for="app-client-secret" class="control-label col-sm-4">Client Secret:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="app-client-secret" th:field="*{clientDetailsDto.clientSecret}"/>
                                    <div th:if="${ #fields.hasErrors('clientDetailsDto.clientSecret') }" th:each="error: ${#fields.errors('clientDetailsDto.clientSecret')}">
                                        <span class="help-block" th:text="${error}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('clientDetailsDto.scope')} ? 'has-error' : ''">
                                <label for="app-scope" class="control-label col-sm-4">Scope:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="app-scope" th:field="*{clientDetailsDto.scope}"/>
                                    <div th:if="${ #fields.hasErrors('clientDetailsDto.scope') }" th:each="error: ${#fields.errors('clientDetailsDto.scope')}">
                                        <span class="help-block" th:text="${error}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('clientDetailsDto.authorizedGrantTypes')} ? 'has-error' : ''">
                                <label for="app-authorized-grant-types" class="control-label col-sm-4">Authorized grant types:</label>
                                <div class="col-sm-8">
                                    <select id="app-authorized-grant-types" class="form-control" th:field="*{clientDetailsDto.authorizedGrantTypes}" multiple="multiple">
                                        <option th:value="refresh_token">refresh_token</option>
                                        <option th:value="authorization_code">authorization_code</option>
                                        <option th:value="implicit">implicit</option>
                                        <option th:value="password">password</option>
                                        <option th:value="client_credentials">client_credentials</option>
                                    </select>
                                    <div th:if="${ #fields.hasErrors('clientDetailsDto.authorizedGrantTypes') }" th:each="error: ${#fields.errors('clientDetailsDto.authorizedGrantTypes')}">
                                        <span class="help-block" th:text="${error}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('clientDetailsDto.webServerRedirectUri')} ? 'has-error' : ''">
                                <label for="app-web-server-redirect-uri" class="control-label col-sm-4">Web server redirect URI:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="app-web-server-redirect-uri" th:field="*{clientDetailsDto.webServerRedirectUri}"/>
                                    <div th:if="${ #fields.hasErrors('clientDetailsDto.webServerRedirectUri') }" th:each="error: ${#fields.errors('clientDetailsDto.webServerRedirectUri')}">
                                        <span class="help-block" th:text="${error}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('clientDetailsDto.accessTokenValidity')} ? 'has-error' : ''">
                                <label for="app-access-token-validity" class="control-label col-sm-4">Access token validity (ms):</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="app-access-token-validity" th:field="*{clientDetailsDto.accessTokenValidity}"/>
                                    <div th:if="${ #fields.hasErrors('clientDetailsDto.accessTokenValidity') }" th:each="error: ${#fields.errors('clientDetailsDto.accessTokenValidity')}">
                                        <span class="help-block" th:text="${error}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('clientDetailsDto.refreshTokenValidity')} ? 'has-error' : ''">
                                <label for="app-refresh-token-validity" class="control-label col-sm-4">Refresh token validity (ms):</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="app-refresh-token-validity" th:field="*{clientDetailsDto.refreshTokenValidity}"/>
                                    <div th:if="${ #fields.hasErrors('clientDetailsDto.refreshTokenValidity') }" th:each="error: ${#fields.errors('clientDetailsDto.refreshTokenValidity')}">
                                        <span class="help-block" th:text="${error}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox">
                                        <label><input type="checkbox" th:field="*{clientDetailsDto.autoApprove}"/> Auto approve</label>
                                        <div th:if="${ #fields.hasErrors('clientDetailsDto.autoApprove') }" th:each="error: ${#fields.errors('clientDetailsDto.autoApprove')}">
                                            <span class="help-block" th:text="${error}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
                                <label for="app-desc" class="control-label col-sm-4">Opis:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="5" id="app-desc" style="resize: vertical" th:field="*{description}"></textarea>
                                    <div th:if="${ #fields.hasErrors('description') }" th:each="error: ${#fields.errors('description')}">
                                        <span class="help-block" th:text="${error}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-ok">
                                <span class="glyphicon glyphicon-edit"></span> Zapisz
                            </button>
                            <button type="button" class="btn btn-danger" th:onclick="'javascript:openModal(\'/devApp/' + ${devApp.clientDetailsDto.clientId} + '/delete\', \'modal-delete\');'">
                                <span class="glyphicon glyphicon-remove"></span> Usuń
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>