<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Zgoda na udostępnianie informacji</title>
    </head>
    <!--/*@thymesVar id="authorizationRequest" type="org.springframework.security.oauth2.provider.AuthorizationRequest"*/-->
    <body th:fragment="content">
        <div class="container">
            <h1>Zgoda na udostępnianie informacji</h1>
            <p>Czy zezwalasz aplikacji '<span th:text="*{authorizationRequest.clientId}"></span>' na dostęp do poniższych informacji?</p>
            <ul>
                <li th:each="scopeName : ${authorizationRequest.scope}"><span th:text="${scopeName}"></span></li>
            </ul>
            <button type="submit" class="btn btn-success" onclick="$('#confirmationForm').submit()"><span class="glyphicon glyphicon-ok"></span> Zezwól</button>
            <button type="submit" class="btn btn-danger" onclick="$('#denialForm').submit()"><span class="glyphicon glyphicon-remove"></span> Odmów</button>

            <form id="confirmationForm" name="confirmationForm" th:action="@{/oauth/authorize}" method="post">
                <input name="user_oauth_approval" th:value="true" type="hidden"/>
                <input th:each="scopeName : ${authorizationRequest.scope}" type="hidden" th:name="${'scope.' + scopeName}" value="true"/>
            </form>
            <form id="denialForm" name="denialForm" th:action="@{/oauth/authorize}" method="post">
                <input name="user_oauth_approval" value="false" type="hidden"/>
            </form>
        </div>

    </body>
</html>