<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:include="developer/fragments/appKeyInfo :: app-key-info-header"></div>
    </head>
    <body>
        <div th:fragment="message(type, title, message)"
             th:with="addFragmentFile=(${addFragmentFile} ?: null), addFragmentName=(${addFragmentName} ?: null)" >
            <div class="alert alert-dismissable fade in" th:classappend="${
                        type.toString() == 'INFO' ? 'alert-success' :
                        type.toString() == 'WARNING' ? 'alert-warning' :
                        type.toString() == 'ERROR' ? 'alert-danger' : ''
                     }">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong th:text="${title}"></strong>
                <p th:text="${message}"></p>
                <div th:if="${addFragmentFile}">
                    <div th:include="${addFragmentFile} :: ${addFragmentName}"></div>
                </div>
            </div>
        </div>
    </body>
</html>