<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Logowanie</title>

        <script th:replace="fragments/header :: header-css"></script>
    </head>
    <body>
        <div th:if="${ param.apiKey == null }">
            <div th:replace="fragments/header :: header"></div>
        </div>
        <div class="container">
            <h1>Rejestracja</h1>
            <form th:action="@{/signUp}" method="post" th:object="${user}" class="form-login">
                <fieldset>
                    <div th:if="${ #fields.hasGlobalErrors() }" th:each="error: ${#fields.errors('global')}">
                        <div th:replace="fragments/message :: message(${ T(net.wojteksz128.authservice.MessageType).ERROR }, 'Błąd!', ${error})"></div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
                        <label for="email">Adres e-mail:</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}" required="required"/>
                        <div th:if="${ #fields.hasErrors('email') }" th:each="error: ${#fields.errors('email')}">
                            <div th:replace="fragments/message :: message(${ T(net.wojteksz128.authservice.MessageType).ERROR }, 'Błąd!', ${error})"></div>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error' : ''">
                        <label for="password">Hasło:</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}" required="required"/>
                        <div th:if="${ #fields.hasErrors('password') }" th:each="error: ${#fields.errors('password')}">
                            <div th:replace="fragments/message :: message(${ T(net.wojteksz128.authservice.MessageType).ERROR }, 'Błąd!', ${error})"></div>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'has-error' : ''">
                        <label for="confirmPassword">Powtórz hasło:</label>
                        <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}"
                               required="required"/>
                        <div th:if="${ #fields.hasErrors('confirmPassword') }" th:each="error: ${#fields.errors('confirmPassword')}">
                            <div th:replace="fragments/message :: message(${ T(net.wojteksz128.authservice.MessageType).ERROR }, 'Błąd!', ${error})"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">Imię:</label>
                        <input type="text" class="form-control" id="firstName"/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nazwisko:</label>
                        <input type="text" class="form-control" id="lastName"/>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('terms')} ? 'has-error' : ''">
                        <div class="checkbox">
                            <label><input type="checkbox" th:field="*{terms}"/>Akceptuje <a>Warunki korzystania z usługi</a>.</label>
                        </div>
                        <div th:if="${ #fields.hasErrors('terms') }" th:each="error: ${#fields.errors('terms')}">
                            <div th:replace="fragments/message :: message(${ T(net.wojteksz128.authservice.MessageType).ERROR }, 'Błąd!', ${error})"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Zarejestruj</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div th:replace="fragments/header :: footer"></div>
    </body>
</html>
