<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8"/>
        <title>Dostęp zabroniony</title>

        <script th:replace="fragments/header :: header-css"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <h1>Dostęp zabroniony</h1>

            <p>Przepraszamy, nie masz odpowiednich uprawnień do wejścia na tę stronę.</p>

            <p><a th:href="@{/}">Wróć do strony głównej</a></p>
            <div sec:authorize="isAuthenticated()">
                <p><a th:href="@{/logout}">Wyloguj</a></p>
            </div>
        </div>
        <div th:replace="fragments/header :: footer"></div>
    </body>
</html>