<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="modal-create-header">
        <script th:src="@{/developer/js/modalCreate.js}"></script>
    </head>
    <body th:fragment="modal-create">
        <div id="modal-create" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                        <h4 class="modal-title">Dodawanie nowej aplikacji</h4>
                    </div>
                    <form th:action="@{/devApp}" method="post" th:object="${devApp}" class="form-app">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="app-name">Nazwa aplikacji:</label>
                                <input type="text" class="form-control" id="app-name" th:field="*{name}"/>
                            </div>
                            <div class="form-group">
                                <label for="app-desc">Opis:</label>
                                <textarea class="form-control" rows="5" id="app-desc"
                                          style="resize: vertical" th:field="*{description}"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Aplikacja wymaga informacji o:</label>
                                <div class="checkbox">
                                    <label><input type="checkbox" disabled="disabled" checked="checked"/>Adres e-mail i hasło</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"/>Imię i nazwisko</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"/>Adres</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-ok">Zapisz</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>