<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script th:src="@{/developer/js/modalDelete.js}"></script>
    </head>
    <body>
        <div id="modal-delete-question" class="modal fade" tabindex="-1" role="dialog" th:fragment="modal-delete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Usuwanie aplikacji</h4>
                    </div>
                    <div class="modal-body">
                        Czy na pewno chcesz usunąć aplikację z listy zarejestrowanych? Po usunięciu nie klucz stanie
                        się nieaktualny i nie będzie można go wykorzystać w dalszej komunikacji.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <a class="btn btn-danger btn-ok">Usuń</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>